<%= render 'shared/header', header: 'Please log in' %>

<div class='well'>
<%= form_tag '/login', method: 'post' do %>
  <div class='form-group'>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  </div>
  <br>
  <div class='form-group'>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  </div>
  <br>
  <%= submit_tag 'Log in', class:'btn btn-success' %>
<% end %>
</div>
